
.about-header {
    color: var(--cream);
    flex: .9;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    white-space: nowrap;

}

.about-header h2 {
    font-family: edwardian;
    font-size: clamp(2rem, 8vw, 20rem);
    font-weight: 500;
    padding-top: 1%;
    /* align-items: ; */
}

.about-header h1 {
    font-family: voga;
    font-size: clamp(2rem, 7vw, 20rem);
    font-weight: 500;

}
.about-story {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 1;
    padding: 5%;
}
.about-story p {
    font-size: 14px;
    font-family: "Poppins";
}
.about-story-content {
    display: flex;
    padding: 0 5% 10% 5%;
    gap: 30px;
    font-family: "Poppins";
    font-size: 14px;
    text-align: justify;
}
.about-about {
    display: flex;
    align-items: center;
    padding: 8% 5%;
    justify-content: center;
    flex-wrap: wrap;
    text-align: justify;
    text-align-last: center;
    font-family: voga;
    font-weight: 300;
    color: var(--cream);
    background-color: var(--black);
    line-height: .9;
    font-size: clamp(.5rem, 4rem, 8rem);
}

.about-philosophy-section {
    background-color: var(--cream);
    padding: 5%;
    text-align: center;
}

.about-philosophies-title {
    display: flex;
    color: var(--burgundy);
    align-items: center;
    justify-content: center;
    font-size: clamp(.5rem, 4rem, 6rem);
}

.about-philosophies-title h2 {
    font-family: edwardian;
    font-size: clamp(.5rem, 4.6rem, 8rem);
    font-weight: 500;
    padding-top: .5%;
}

.about-philosophies-title h1 {
    font-family: voga;
    font-size: clamp(.5rem, 4rem, 6rem);
    font-weight: 500;
}

.about-philosophy-container {
    display: flex;
    justify-content: center;
    gap: 3%;
    text-align: left;
    margin: 3% 0%;
}

.about-philosophy-card {
    flex: 1;
    margin: 2% 0%;
    padding-top: 20px;
    font-family: voga;
    font-weight: 500;
}

.about-philosophy-id {
    display: block;
    font-size: .9em;
    color: var(--black);
}

.about-philosophy-title {
    display: flex;
    border-top: 1px solid var(--black);
    border-bottom: 1px solid var(--black);
    color: var(--burgundy);
    padding: 1% 0 1% 0;
    font-size: clamp(2.9em, 3.5vw, 10em);
    /* margin-top: 5px; */
    font-family: voga;
    font-weight: 500;
    line-height: .9;
    text-align: left;
    justify-content: left;
    align-items: center;
    height: clamp(3rem, 8vh, 10rem);
}

.about-philosophy-title.italic {
    font-family: edwardian;
    font-size: clamp(3em, 3.5vw, 10em);
}

.about-philosophy-description {
    font-size: 14px;
    color: var(--black);
    margin-top: 10px;
    font-family: "Poppins";
    font-weight: 300;
    text-align: justify;
}


@media (max-width: 1050px) {
    

    .about-philosophy-container {
        flex-direction: column;
    }
    .about-philosophy-title {
        font-size: clamp(1rem, 2rem, 10rem);
        height: auto;
        /* padding-bottom: 1%; */
        align-items: center;
    }
    .about-philosophy-title.italic {
        font-family: edwardian;
        font-size: clamp(1rem, 2rem, 10rem);
        align-items: center;
    }
    .about-philosophy-title h2 {
        font-family: edwardian;
        /* font-size: clamp(1rem, 5rem, 10rem); */
        font-weight: 500;
        padding-top: .5%;
    }
    
    .about-philosophies-title h1 {
        font-family: voga;
        font-size: clamp(.5rem, 3.9rem, 6rem);
        
    }
    .about-philosophy-section {
        padding: 15% 0;
    }
   
    .about-philosophies-title {
        font-size: clamp(.5rem, 3.2rem, 8rem);
    }
    .about-header h2 {
        font-size: clamp(4rem, 10vw, 20rem);

    }
    
    .about-header h1 {
        font-size: clamp(3rem, 9vw, 20rem);
    
    }
   
}
