.blogs {
  /* align-items: center; */
  /* margin-left: 100px; */
  /* justify-content: center; */
  /* display: grid; */
  /* width: 100%; */
  margin: 5% 0;

}

.blogs-header {
  min-height: 70vh;
  display: flex;
  margin: 0 5%;
  font-family: "Poppins";
  /* background-image: url('../images/blogs/header-blogs.png'); */
  /* background-size: cover; */
}
.blogs-header-headline {
  flex: 2;
  display: flex;
  transform: translateX(-10%);
  /* justify-content: space-between; */
}
.blogs-header-headline-title {
  /* position: absolute; */
  z-index: 100;
  flex: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transform: translateX(33%);
  left: 50%;
}
.blogs-header-headline-title h1 {
  font-family: voga;
  font-size: 18rem;
  font-weight: 500;
  line-height: .8;
  margin: 10px 0;
}
.blogs-header-headline-title p {
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 300;
  line-height: .6;
  margin: 10px 0;
}
.blogs-header-headline-img {
  /* position: relative; */
  /* width: 100%;
  height: 100%; */
  flex: 1;
  height: 70vh;
  justify-self: center;
}
.blogs-header-blog {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: end;
  /* align-items: end; */
}
.blogs-header-blog h1 {
  font-size: 3rem;
  font-weight: 500;
  font-family: voga;
  line-height: .9;
  /* margin: 10px 0; */
  /* text-align: center; */
}

.blogs-header-blog p {
  font-size: 1rem;
  font-weight: 300;
  /* line-height: 1.5; */
  margin: 10px 0;
  /* text-align: center; */
}

.blogs-header-blog button {
  font-size: 1rem;
  font-weight: 300;
  margin: 10px 0;
  text-align: center;
  background-color: var(--burgundy);
  color: var(--cream);
  border: none;
  padding: 10px 20px;
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  width: fit-content;
  /* width: 35%; */
  /* border-radius: 5px; */
  cursor: pointer;
}

.blogs-header-blog button:hover {
  background-color: var(--burgundy);
  color: lightgray;
}
.blogs-header-blog-button-arrow {
  font-size: 1.5rem;
  /* font-weight: 500; */
  margin-left: 10px;
  text-align: center;
  background-color: var(--burgundy);
  /* color: var(--cream); */
  border: none;
}

.blogs span {
  font-size: 3rem;
  font-weight: 500;
  margin: 10px 0;
  text-align: center;
}

.blogs span:first-child {
  font-size: 5rem;
  font-weight: 500;
  margin: 10px 0;
  text-align: center;
}

.luxury-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 4% 5% 0% 5%;
  /* padding: 5% 7%; */
  width: 90%;
  color: var(--black);
  overflow: hidden;
  /* box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  font-family: "Poppins";
}
.luxury-card:hover {
  cursor: pointer;
}

.luxury-card:hover .luxury-card__image-overlay {
  background-color: rgb(from var(--black) r g b / 70%);
  
  /* transform: translateY(-10px); */
  /* box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3); */
}

.luxury-card__image {
  width: 100%;
  height: 30vh;
  object-fit: fill;
  border-bottom: 1px solid var(--cream);
  position: relative;
  display: block;
}

.luxury-card__image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(from var(--black) r g b / 0%);
  /* Burgundy color with 0 opacity */
  transition: background-color 0.3s ease;
  /* Smooth transition */
}

.luxury-card__content {
  /* padding: 1rem 0  ; */
  /* padding:  5px 10px 25px 0px; */
  text-align: justify;
  font-family: "Poppins";
  font-weight: 300;
}

.luxury-card__title {
  font-size: clamp(1.2rem, 2.5vw, 20rem);
  font-weight: 500;
  font-family: voga;
  padding-bottom: .5rem;

  color: var(--black);
  letter-spacing: -.5px;
  /* margin: 10px 0; */
}

.luxury-card__description {
  font-size: clamp(.5em, 1.1vw, 3em);
  color: var(--black);
  line-height: 1.3;
}


.luxury-card {
  background-color: var(--cream);
  /* background: linear-gradient(135deg, #fdfbfb, #ebedee); */
  /* border: 1px solid #c9a04f; */
}

@media (max-width: 1050px) {
  .luxury-card {
    margin: 4% 5% 0% 5%;
    /* width: 89%; */
  }

  .luxury-card__image {
    height: 20vh;
  }

  .luxury-card__description {
    /* padding: 1rem 0; */
    font-size: clamp(.5em, 3vw, 20rem);
    /* line-height: 1; */

  }

  .luxury-card__title {
    font-size: clamp(1.2rem, 7vw, 20rem);
    line-height: 1;
  }

}