/* Hero Section */

@font-face {
    font-family: voga;
    src: url('../fonts/Voga-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;

}


.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 2% 5% 10% 5%;
    min-height: 75vh;
    border: 1px solid var(--cream);
    /* padding: 20px; */
    align-items: center;
    gap: 0rem;
    line-height: 1;

}

.hero-text {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    height: 100%;
    justify-content: center;
    /* gap: 1rem; */
}

.hero-text span {
    font-size: 9em !important;
    color: var(--cream) !important;
    text-align: center;
}

.titleFirst {
    font-size: 10em;
}

.hero-text h1 {
    font-size: 9em !important;
    color: var(--cream);
    text-align: center;
    font-family: voga;
    font-weight: 500;
    text-decoration: none;
    margin-left: 5px;
}

.box p {
    font-size: .9em !important;
    color: var(--cream);
    text-align: center;
    font-family: "Poppins";
    text-decoration: none;
    font-weight: 300;
    text-transform: uppercase;
    text-decoration: none;
    margin-left: 5px;
}

.hero-section {
    background-image: url('../images/homepage/homepage-hero-cropped.jpg');
    background-size: cover;
    filter: saturate(40%);
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    width: 100%;
    min-height: 105vh;
    color: var(--cream) !important;
}

.hero-section span {
    color: var(--cream) !important;
}

/* .hero-section span:hover {
    color: var(--burgundy) !important;
} */
.hero-section a {
    color: var(--cream) !important;
}

.hero-section a:hover {
    color: var(--burgundy) !important;
}


.home-about {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    background-color: var(--black);
    
    color: var(--cream);
    padding: 5% 5% 5% 5%;
}

.home-about-left {
    flex: 2;
    /* height: 100%; */
    padding-right: 100px;
}

.home-about-left p {
    font-family: "Poppins";
    text-transform: uppercase;
    font-weight: 300;
    font-size: .9em;

}

.home-about-left h1 {
    padding-top: 10px;
    font-weight: 500;
    font-size: 3.5em;
    line-height: .9;
}

.home-about-right {
    flex: 3;
    font-family: "Poppins";
    /* text-transform: uppercase; */
    font-weight: 300;
    font-size: .9em;
    text-align: justify;
    justify-content: space-between;
    align-items: flex-end;
    /* height: 100%; */
}

.home-portfolio {
    padding: 0% 5% 10% 5%;
    min-height: 100vh;
    background-color: var(--burgundy);
    /* display: flex; */
    /* flex-direction: column; */
    color: var(--cream) !important;
    align-items: center;
    justify-content: center;
}

.home-portfolio-title p {
    font-family: "Poppins";
    text-transform: uppercase;
    line-height: 3;
    font-weight: 300;
}

.home-portfolio-title span:first-child {
    color: var(--cream) !important;
    font-size: 11em !important;
    line-height: .8;
    text-transform: uppercase;
}

.home-portfolio-title span {
    color: var(--cream) !important;
    font-size: 8em !important;
    line-height: .8;
    text-transform: uppercase;
}
.home-portfolio-title {
    align-items: center;
    justify-content: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 3% 0;
}

.home-projects {
    min-height: 60vh;

}

/* .slick-container {
    position: relative;
    z-index: 10;
} */
.home-services {
    margin: 0 5% 4%;
    /* min-height: 90vh; */
}

.home-services-header {
    margin-bottom: 3%;
}

.home-services-header span:first-child {
    font-size: 5em;
}

.home-services-header span {
    text-transform: uppercase;
    line-height: .8;
    font-size: 4em;
    font-weight: 500;
    letter-spacing: -2px;
}

.home-services-header h1 {
    font-family: voga;
    font-size: 4em;
    font-weight: 500;
    text-transform: uppercase;
    line-height: .8;
    letter-spacing: -2px;
}

.two-column-container {
    display: flex;
    align-items: flex-end;
    min-height: 200px;

}

.column {
    text-align: left;
    line-height: 1;
    padding: 10px 0 10px 10px 10px;
}

.column-1 {
    flex: 4;

}

.column-2 {
    flex: 5;
    font-family: "Poppins";
    font-weight: 300;
    font-size: 1em;
    text-align: justify;
}

.stats-container {
    padding: 0 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    min-height: 20vh;
    background-color: var(--black);
}

.stat {
    flex: 1;
    text-align: center;
    display: flex;
    flex-direction: column;
    border-right: 1px solid var(--cream);

    /* font-weight: 200; */
    /* border-right: 1px solid radial-gradient(var(--cream), var(--black)); */
    /* border-image: linear-gradient(to top, #fff 50%, #000 50%) 100% 1; */
}

.stat:last-child {
    border-right: 0px;
}

.stat-number {
    font-size: 3em;
   
    font-family: voga;
    color: var(--cream);
    /* Or your desired color */
}

.stat-label {
    font-size: 1em;
    /* Adjust font size as needed */
    color: var(--cream);
    /* Or your desired color */
    margin-top: 5px;
    font-family: "Poppins";
    font-weight: 200;

}


/* Add this to your CSS file */
.slider-container {
  width: 80%;
  margin: 0 auto;
}


@media (max-width: 1050px) {
    
    .box p {
        font-size: 1.1em !important;
    }
    .hero-text h1 {
        font-size: clamp(5rem, 15vw, 20rem) !important ;
    }
    .hero-text span {
        font-size: clamp(6rem, 16vw, 20rem) !important;
        
    }
    .hero-text {
        line-height: .8;
        letter-spacing: -0.15em;
    }
    .home-about {
        padding: 20% 10%;
        flex-direction: column;
        justify-content: center !important;
        align-items: center !important;

    }
    .home-about-left {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex: none;
        padding: 0;
    }
    .home-about-left p {
        text-align: center;
        font-size: 1.1em;
        /* padding: 2% 0; */
    }
    .home-about-left h1 {
        padding-top: 2%;
        text-align: center;
        font-size: clamp(4rem, 9vw, 10rem);
    }
    .home-about-right p {
        padding-top: 5%;
        text-align: justify;
        text-align-last: center;
        font-size: 1.1em;
    }
    .home-about-right {
        padding-top: 5%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex: none;
    }
    .home-portfolio-title {
        padding-top: 3%;
    }
    .home-portfolio-title p {
        font-family: "Poppins";
        text-transform: uppercase;
        line-height: 3;
        font-weight: 300;
        font-size: 1.1em;
    }
    
    .home-portfolio-title span:first-child {
        color: var(--cream) !important;
        font-size: clamp(6em, 8vh, 20em) !important;
        line-height: .8;
        text-transform: uppercase;
    }
    
    .home-portfolio-title span {
        color: var(--cream) !important;
        font-size: clamp(4em, 7vh, 20em) !important;
        line-height: .8;
        text-transform: uppercase;
    }
    .home-portfolio {
        padding: 13% 5%;
        min-height: auto;
    }
    .home-projects {
        min-height: auto;
    }
    .home-services {
        padding-bottom: 5%;
    }
    .home-services-header {
        padding: 15% 5% 3% 5%;
        display: flex;
        flex-direction: column;
    }
    .home-services-title {
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
        /* flex: none; */
    }
    .home-services-description {
        padding-top: 7%;
    }
    .column-1 {
        flex: none;
    }
    .two-column-container {
        align-items: center;
    }
    .stats-container {
        flex-direction: column;
        padding: 5% 0;
    }
    .stat {
        border-right: none;
        flex: 1;
        text-align: center;
        display: flex;
        flex-direction: column;
        border-bottom: 1px solid var(--cream);
        padding: 7%;
    
        /* border-right: 1px solid radial-gradient(var(--cream), var(--black)); */
        /* border-image: linear-gradient(to top, #fff 50%, #000 50%) 100% 1; */
    }
    
    .stat:last-child {
        border-bottom: 0px;
    }
    
}