.expandable-item {
    border-bottom: 1px solid var(--black);
    /* padding: 4px 0; */
    cursor: pointer;
}

.home-services-box {
    border-top: 1px solid var(--black);
    margin: 0 1%;
}
.item-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.item-title span:first-child {
    font-size: 2.8em;
    font-weight: 500;
    
}
.item-title span {
    font-size: 2.3em;
    /* font-weight: 500; */
}


.item-arrow {
    color: var(--burgundy);
    flex-shrink: 0;
    font-size: 1.5rem;
    transition: transform 0.5s ease;
}
.item-arrow.expanded {
    transform: rotate(90deg); /* Rotate the arrow when expanded */
  }

.item-description {
    margin-top: 10px;
    font-size: 1em;
    color: var(--black);
    font-family: "Poppins";
    padding: 0 2em;
    padding-bottom: 2%;
    font-weight: 300;
    text-align: justify;
}