.testimonial-container {
  padding: 5%;
  /* margin-bottom: 20px; */
  align-items: center;
  justify-content: center;
}
.home-testimonial-header {
  padding-top: 5%;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}
.home-testimonial-header span:first-child {
  font-size: 5em;
}
.home-testimonial-header span {
  text-transform: uppercase;
  line-height: .8;
  font-size: 4em;
  font-weight: 500;
  letter-spacing: -2px;
}

.home-testimonial-header h1 {
  font-family: voga;
  font-size: 4em;
  font-weight: 500;
  text-transform: uppercase;
  line-height: .8;
  letter-spacing: -2px;
}

.testimonial-container.even {
  background-color: var(--cream);
  /* Even index background */
}
.testimonial-container.even button {
  
  color: var(--burgundy);
}
.testimonial-container.odd button {
  color: var(--cream);
}
.testimonial-container button{
  background: none; 
  border: none; 
  padding: 0; 
  cursor: pointer;
  display: inline-flex; 
  align-items: center; 
  /* justify-content: center;  */
  font-size: 1.5rem; 
  outline: none;
  
}

.testimonial-container.odd {
  background-color: var(--burgundy);
  /* Odd index background */
  color: var(--cream) !important;
}
.testimonial-container.odd span { 
  color: var(--cream) !important;
}


.testimonial-author {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Poppins";
  font-weight: 300;
  font-size: 1em;
}

.testimonial-author span:first-child {
  margin-right: 5px;
}

.left-testimonial-quote {
  
  flex: 1;
}
.right-testimonial-quote {
  justify-content: right;
  flex: 1;
}
.middle-testimonial-quote {
  justify-content: center;
  font-size: 1em;
  font-weight: 300;
  text-align: center;
  font-family: "Poppins";
  flex: 1;
}

.testimonial-quote {
  /* margin:  18vh 0; */
  padding: 7% 0;
  display: flex;
  justify-content: space-between;
}

.testimonial-quote button {
  background-color: transparent;
  
}

.testimonial-dots {
  display: flex;
  justify-content: center;
  /* margin-top: 10px; */
  padding: 5% 0 10% 0;
  align-items: center;
}

.dot {
  width: 12px;
  height: 12px;
  margin: 0 5px;
  border-radius: 50%;
  background-color: var(--black);
  opacity: 0.5;
  cursor: pointer;
  transition: opacity 0.3s ease-in-out, background-color 0.3s ease-in-out;
}
.dot.even {
  background-color: var(--burgundy); /* Color for even testimonials */
  opacity: 1;
}

.dot.odd {
  background-color: var(--cream); /* Color for odd testimonials */
  opacity: 1;
}

@media (max-width: 1050px) {
  .testimonial-container {
    padding: 10% 5% 5% 5%;
  }
  .middle-testimonial-quote {
    font-size: 1.1em;
    margin-top: 5vh;
    
  }
  .testimonial-author {
    padding-bottom: 10%;
  }
  .left-testimonial-quote {
    justify-content: center;
    /* padding-right: 20%; */
  }
  .right-testimonial-quote {
    justify-content: center;
    /* padding-right: 20%; */
  }
  
}